.wrap_input_field_ec{
  margin-bottom: 15px;
  font-weight: bold;
}

.wrap_select_field_ec{
  margin-bottom: 15px;
  font-weight: bold;
}

.wrap_textarea_field_ec{
  margin-bottom: 15px;
  font-weight: bold;
}

.input_field_ec{
  padding: 7px;
}

.select_field_ec{
  width: 100%;
}

.text_area{
  height: 120px;
  width: 100% !important;
}