.background{
	padding: 15px;
}

.wrapper{
	padding: 25px;
	border: 1px solid rgba(152, 149, 149, 0.429);
	border-radius: 10px;
}

.wrapper h3 {
	margin: 0 0 20px 0;
	font-weight: 530;
	font-size: 21px;
}

.line{
	height: 1.5px;
	background-color: rgba(84, 84, 84, 0.153);
	border-radius: 10px;
	margin-bottom: 20px;
}