.label_field {
    font-weight: bold;
}

.upload_text {
    margin-left: 10px;
}

.input_field_readonly {
    color: grey;
}

.text_area {
    height: 120px;
    width: 100% !important;
    resize: none;
}