.wrap_input_field{
  margin-bottom: 15px;
  font-weight: bold;
}

.wrap_btn_detail{
  margin-top: 30px;
  text-align: right;
}

.btn_detail{
  background-color: @bg-btn-detail-app !important;
}

.input_field{
  background-color: @bg-input-field !important;
  padding: 7px;
}